html {
    background-color: #f9f8fd;
}
body {
    font-family: 'Oswald', sans-serif;
    color: #3d3d3f;
    margin: 0;
}

img {
    border-radius: 10px;
}

input {
    margin: 20 15;
    background-color: #f9f8fd;
    border: 2px solid saddlebrown;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 25 10px;
  padding: 15 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 65;
  margin-right: 10;
  vertical-align: -5;
  margin-bottom: 80;
}

blockquote p {
  display: inline;
}


h1 {
    font-family: fantasy;
    font-size: 48;
    font-weight: bold;
    color: saddlebrown;
    align-content: center;
    text-align: center;
    padding-top: 60;
    padding-bottom: 0;
}

.header {
    color: #7dce94;
    font-size: 40;
}

.navbar {
    position: absolute;
    top: 20;
    left: 50%;
    margin-left: -190;
    text-align: center;
}

.navbar a {
    display: inline-block;
    float: left;
    width: 150px;
    padding: 0 20;
    color: #7dce94;  
    font-family: inherit;
    font-size: 22;
    text-decoration: none;
}

.navbar a:hover {
    color: rgba(130, 65, 61,0.5);
}

#catchline {
    align-content: center;
    text-align: center;
    font-style: italic;
}

#upcoming {
    font-size: 36;
}

#links {
    text-align: center;
    letter-spacing: inherit;
    text-decoration: overline;
}

.entry {
    margin: 80 200;
}

.extra {
    display: flex;
    margin-top: 150;
    margin-left: 150;
    margin-right: 150;
    align-self: auto;
    justify-content: space-between;
    background-color: #7dce94; 
    font-weight: bold;
}

table {
    border-width: 5px;
    border-style: groove;
    margin-bottom: 20;
}

.matchups {
    border-color: saddlebrown;
    border-style: double;
    border-width: 20px;
    text-align: center;
    margin: 40 200;
}

.watson {
    background-image: url(images/watson.jpg);
    margin: 20 0;
}

.watson_txt {
    color: #f9f8fd;
    margin-right: 1000;
    margin-left: 10;
}